page-manager-league-add-player-into-notification {
  .a-scroll-container {
    overflow: auto;
    max-height: 56px;
    padding-top: 4px;
  }
  .circle{
      height: 48px;
      width: 48px;
      border-radius: 50%;
      margin: 0 10px 0 10px;
  }
}
