top-goal {
    .top_goal {
        .player_name {
            font-weight: bold;
            font-size: 1.7rem;
        }
    }
    .logo_club {
        width: 20px;
        height: 20px;
    }
    .player_name {
        font-size: 1.6rem;
        color: black;
    }
    .club_name {
        font-size: 1.3rem;
    }
}