page-manager-league-push-notification {
    .padding-10{
        padding: 10px;
    }
    .form-title{
        margin-bottom: 10px;
        font-size: 1.7rem;
    }
    ion-textarea{
        border: 1px solid #f2f2f2;
        border-radius: 5px;
    }
    .text-input{
        padding: 10px !important;
    }
    .item{
        border: none !important;
    }
}
