page-create-matches {
  ion-content.content {
    background: white;
  }
  .border-bottom{
    border-bottom: .55px solid lightgray;
  }
  .text-label{
    padding-left: 5px;
    margin-bottom: 6px;
  }
  .form-cotain{
    padding: 10px 0;
  }
  .a1-content-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  ion-label{
    flex: auto;
  }
}
