<!--
  Generated template for the ManagerLeaguesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only navPop>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>Danh sách giải đấu</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="onClickAdd()">
        <ion-icon name="md-add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>

    <div class="a-scroll-container" text-nowrap>
        <div class="a-item" *ngFor="let option of mListFillter" (click)="onClickOptionFillter(option,$event)" [class.selected]="mIDSelected == option.id">
            {{option.name}}
        </div>
    </div>
</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar [(ngModel)]="searchQuery" (ionClear)="onClearQuer()" (keyup.enter)="onClickSearch(true)"></ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let league of mListLeagues; let i = index" (click)="onClickItem(league)">
            <div class="stt" item-start>{{i+1}}.</div>
            <ion-thumbnail item-start>
                <img [src]="league.logo || './assets/default/league_logo_default.png'" alt="">
            </ion-thumbnail>

            <ion-label>
                <div class="normal-font mleague-name">
                    <strong>{{league.name}}</strong>
                </div>

                <div class="sub-title small-font gray-color">
                    {{league.leagueAdminName || 'Chưa có ban tổ chức'}}
                </div>

                <!-- 
        <div class="a3-container a3-justify-between a3-items-end">
          <div class="sub-title small-font gray-color">
            Đội bóng: {{league.numberClubJoined}} / {{league.numberClub}}
          </div>

          <div class="sub-title small-font" [class.red-color]="league.state == 0" [class.green-color]="league.state == 1" [class.gray-color]="league.state == 2">
            {{league.state | stateLeague}}
          </div>
        </div> -->

            </ion-label>
        </ion-item>
    </ion-list>

    <div class="empty-state a1-relative" [hidden]="mListLeagues.length > 0">
        <div class="a1-absolute bottom gray-color" padding text-center>Kết quả tìm kiếm rỗng</div>
    </div>

    <ion-infinite-scroll *ngIf="nextPage >= page" (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>