page-bd69-sign-league {
  .league-container {
    padding: 16px;
    text-align: center;
  }
  .league-logo {
    height: 100px;
    width: 100px;
    margin: auto;
  }
  .btn-submit {
    border-radius: 26px;
    background: transparent;
    color: black;
    border: 1px solid gray;
    margin: auto;
    box-shadow: none !important;
  }
}
