league-round {
   
    .nothing{
        height: 70vh;
        width: 100%;
        background-image: url("../../assets/imgs/nothing.png");
    }
    .text-show{
        margin-top: 12vh;
    }
    .item{
        background: whitesmoke;
        margin-bottom: 10px;
        padding-left: 0;
    }
}
