page-bd69-club-inleague-update {
    .header {
        border: none !important;
    }
    .header:after {
        height: 0 !important;
    }
    .a-scroll-container {
        overflow: auto;
        .a-item {
            display: inline-block;
            min-width: 50%;
            text-align: center;
            color: gray;
            font-size: 1.6rem; //   border-right: 1px solid lightgray;
            padding: 6px 0;
            &.selected {
                color: #37a485;
                font-weight: bold;
                font-size: map-get($map: $appSizes, $key: large) !important;
            }
        }
    }
    .font-text {
        font-weight: bold;
    }
    .info-container {
        // padding: 0 10px;
        margin-top: 16px;
    }
    ion-label {
        flex: auto;
    }
    .bg-smoke {
        // background: whitesmoke;
    }
    .searchbar-ios {
        background: transparent;
        border: none;
    }
    .searchbar-ios .searchbar-input {
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .searchbar-md .searchbar-input {
        box-shadow: none;
        border: 1px solid lightgray;
        border-radius: 5px;
    }
    .right-bottom {
        bottom: 0;
        right: 0;
    }
    .captain {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid black;
        background: #222;
    }
    .padding {
        padding: 10px 0 10px 16px;
    }
    .border-bottom{
        border-bottom: .55px solid #f4f4f4;
    }
    .border-bottom:last-child{
        border: none;
    }

    .type{
        height: 16px;
        width: 16px;
    }
    .user-type{
        height: 100% !important;
        width: 100% !important;
    }
}