page-manager-admins-club-detail {
  .p-name {
    margin-top: 6px;
  }
  .p-icon {
    height: 48px;
    width: 48px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #f4f4f4;
    ion-icon{
        font-size: 2em;
    }
  }
}
