menu-hozi {
    .hozi-container{
        overflow-x: scroll;
        overflow-y: hidden;
        .btn{
            padding: .6rem 1.2rem;
            border-radius: 20px;
            margin: 0 .4rem;
            opacity: .4;
            background: white;
            color: #1D1C1C;
            &.selected{
                opacity: 1;
                background: #FEE056;
            }
        }
    }
}
